<h1>Lace-wish #help</h1>
<p>Here's the help page. Because the developers are still learning 
	(AKA don't know what the hell we're doing) this help page is 
	probably not going to be very helpful.</p>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://www.railstutorial.org/#help">Rails Tutorial help section</a>.
  To get help on this sample app, see the
  <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
  book</a>.
</p>
