<h1>Lace-wish #help</h1>
<p>Here's the help page. Because the developers are still learning 
	(AKA don't know what the hell we're doing) this help page is 
	probably not going to be very helpful.</p>

