<h1>Lace-wish #home</h1>
<p>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>

<p>Welcome to the homepage of Lace-wish at the moment. It's very sad.</p>
